Package: xenlism-wildfire-icon-theme
Version: 2.0.2
Section: gnome
Priority: extra
Architecture: all
Essential: no
Maintainer: Nattapong Pullkhow < exenatt@gmail.com >
Description: Minimalism And Realism Mix and match, Meego And iOS icon Style
Homepage: http://xenlism.github.io/wildfire
