Source: xenlism-wildfire-icon-theme
Section: gnome
Priority: optional
Maintainer: Nattapong Pullkhow <ixenatt@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://xenlism.github.io/wildfire

Package: xenlism-wildfire-icon-theme
Architecture: all
Description: Minimalism And Realism Mix and match, Meego And iOS icon Style
 xenlism is Computer Graphic And Programming project to make something better.
 xenlism is about minimalism and realism.
 xenlism wildfire is icon themes for *nix desktop environment.
 xenlism wildfire inspired by Meego And iOS icon Style.
